/config
.DS_Store
data
*/data
*/twitter
.idea
/RUNNING_PID
*/logs/
/project/*-shim.sbt
/project/project/
*/target/
target/
/models
.projectFilesBackup
*.class
annotation-cache/
*.lc
*.lex
*~
*/*.swp
*.swp
